<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>查看文件上传报文</title>
</head>
<body>
<form action="/portrait" method="post" enctype="multipart/form-data">
    用户名：<input type="text" name="username"><br>
    头像 <input type="file" name="portrait">
    <button>点击提交</button>
</form>
</body>
</html>
